node_modules/

.env
# macOS
.DS_Store
**/.DS_Store

# Databases
*.db

# Python cache
__pycache__/
*.pyc

# ML Datasets
ml_research/data/raw/*.csv
ml_research/data/processed/*.npz
ml_research/data/processed/*.csv

# heavy model
ml_research/data/models/*.h5

# Jupyter Notebook checkpoints
.ipynb_checkpoints

venv/

